<p style='width: 100%; text-align: center;'>
<span><%= @host.host %></span>
</p>
<div id='log'>
<p>running...</p>
</div>
<script>
     <% @h = {} %>
     var h = <%= JSON.generate(@h.merge(params)) %>;
  
  function showPosition(position) {
    h['gps'] = position.coords.latitude + "," + position.coords.longitude;
    console.log(h);
    $.post('/box', h, function(d){
      console.log(d);
      j = JSON.parse(d.data);
      $("#log").append("<p>gps: " + h['gps'] + "</p>");
      window.location = j.goto;
    });
  }
  
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    $("#log").append("<p>Geolocation is not supported by this browser.</p>");
  }

</script>