<input id='image' type='hidden' name='job[pic]'>
<div style='width: 100%; text-align: center;'>
<!--<canvas id='picture'></canvas>-->
<img id='picture' style='width: 50%; height: 50%;'>
</div>
<p style='width: 100%; text-align: center;'>
<input form='post' name='job[title]' placeholder='job'>
</p>
<textarea style='width: 100%; height: 20%;' name='job[desc]' placeholder='instructions'></textarea>
<h3 style='width: 100%; text-align: center; margin: 0;'><button>save</button></h3>