<style>
form { background-color: white; color: black; }
</style>

<p>
<input form='post' id='has_members' type='checkbox' name='app[members]' checked>
<label for='has_members'><span class='material-icons'>people</span>community</label>
</p>
<p>
<input form='post' id='has_merit' type='checkbox' name='app[merit]' checked>
<label for='type_scan'><span class='material-icons'>military_tech</span>merit</label>
</p>
<p>
<p><input form='post' name='env[title]' placeholder='title' value='<%= @host.env[:title] %>'></p>
<p><input form='post' name='env[pitch]' placeholder='pitch' value='<%= @host.env[:pitch] %>'></p>
<textarea form='post' name='app[index]' placeholder='entity html...' style='width: 100%; height: 50vh;'><%= @host.app[:index] %></textarea>
<p>
<input form='post' id='has_lock' type='checkbox' name='env[locked]' checked>
<label for='has_lock'><span class='material-icons'>lock</span>lock</label>
</p>
<p style='width: 100%; text-align: center;'>
<button form='post' name='do' value='save'>SAVE</button>
</p>