<h1>
<span class='material-icons'>star</span>
<input type='range' name='merit[level]' min='1' value='3' max='5' step='1'>
<span class='material-icons'>stars</span>
</h1>
<h1>
<select name='merit[categoty]'>
<option selected disabled>why?</option>
<% @host.badges.all.each_pair do |k,v| %>
<option value='<%= k %>'><%= v %></option>
<% end %>
</select>
</h1>
<textarea name='merit[comment]' placeholder='tell how great we are!'></textarea>